<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ohara Uploader</title>
</head>
<body>
    <h1>Ohara Uploader</h1>
    <form action="{% url 'ohara:text_handler' %}" method="post">
        {% csrf_token %}
        <label for="bibtex">Citation in Bibtex Format:</label>
        <div>
            <textarea name="bibtex" id="bibtex" cols="30" rows="10"></textarea>
        </div>
        <!-- <input type="text" name="bib-text" id="bib-text"> -->
        <input type="submit" value="Submit">
    </form>
</body>
</html>